{% extends "main/base.html" %}
{% load bootstrap5 %} 
{% load static %}

{% block title %}환자 정보 입력{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div style="text-align: center; width: 90%; margin: 3% auto">
    <h1>환자 정보 입력</h1>
    <form action="" method="POST" id="my-form">
    {% csrf_token %}
        <!-- 필드별 class 지정 -->
        <div class="info-input">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">{{ forms.sex.label }}</td>
                        <td class="right">{% bootstrap_field forms.sex form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-5' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.age.label }}</td>
                        <td class="right">{% bootstrap_field forms.age layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.education.label }}</td>
                        <td class="right">{% bootstrap_field forms.education layout='horizontal' form_check_class='form-check form-check-inline' horizontal_field_class='col-md-7' show_label=False %}
                        <div class="col-md-2 blank" id="input-edu_1">
                            {% bootstrap_field forms.edu_input %}
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.patient_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.patient_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.caregiver_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.caregiver_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_bdi_depression.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_bdi_depression form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_score layout='horizontal' horizontal_field_class='col-md-4' addon_after='/15' show_label=False %}</td>
                    </tr>
                    <tr id="dia_duration_q">
                        <td class="left">{{ forms.diag_duration.label }}</td>
                        <td class="right">{% bootstrap_field forms.diag_duration layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="hy_q">
                        <td class="left">{{ forms.hy_stage.label }}</td>
                        <td class="right">{% bootstrap_field forms.hy_stage layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="updrs_q">
                        <td class="left">{{ forms.motor_updrs_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.motor_updrs_score layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                        
        <div class="button">
            <button type="submit" form="my-form" id="cutoff" name="cutoff" class="btn btn-dark rounded-pill">인지장애 판별 (cutoffs)</button>
            <button type="submit" form="my-form" id="machin" name="machin" class="btn btn-dark rounded-pill">인지장애 판별 (기계학습)</button>
        </div>
        <br>
        <br>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    var error = '{{ error }}';
    var cutoff = '{{ cutoff }}';
    var machine = '{{ machine }}';
</script>
<script src="{% static 'js/info.js' %}"></script>
{% endblock %}


