{% extends "main/base.html" %}
{% load bootstrap5 %} 
{% load static %}

{% block title %}Patient Information{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div style="text-align: center; width: 90%; margin: 3% auto">
    <h1>Patient Information</h1>
    <form action="" method="POST" id="my-form">
        {% csrf_token %}
        <!-- 필드별 class 지정 -->
        <div class="info-input" id="info-input">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">{{ forms.sex.label }}</td>
                        <td class="right">{% bootstrap_field forms.sex form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-5' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.age.label }}</td>
                        <td class="right">{% bootstrap_field forms.age layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.education.label }}</td>
                        <td class="right">{% bootstrap_field forms.education layout='horizontal' form_check_class='form-check form-check-inline' horizontal_field_class='col-md-7' show_label=False %}
                        <div class="col-md-2 blank" id="input-edu_1">
                            {% bootstrap_field forms.edu_input %}
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.patient_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.patient_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.caregiver_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.caregiver_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_bdi_depression.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_bdi_depression form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_score layout='horizontal' horizontal_field_class='col-md-4' addon_after='/15' show_label=False %}</td>
                    </tr>
                    <tr id="dia_duration_q">
                        <td class="left">{{ forms.diag_duration.label }}</td>
                        <td class="right">{% bootstrap_field forms.diag_duration layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="hy_q">
                        <td class="left">{{ forms.hy_stage.label }}</td>
                        <td class="right">{% bootstrap_field forms.hy_stage layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="updrs_q">
                        <td class="left">{{ forms.motor_updrs_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.motor_updrs_score layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="moca">
            {% bootstrap_form_errors mocaform layout='inline' %}
            <div id = "moca" class="left">
                <table class="table">  
                    <thead>
                        <br>
                        <h3><u> MoCA DATA ENTRY </u></h3>
                        <br>
                        <tr>
                            <th class="area">영역</th>
                            <th class="question">문항</th>
                            <th class="score">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;점수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">Visuospatial</td>
                            <td>{{ mocaform.mc_atm.label }}</td>
                            <td>{{ mocaform.mc_atm }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_cube.label }}</td>
                            <td>{{ mocaform.mc_cube }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_clock_cont.label }}</td>
                            <td>{{ mocaform.mc_clock_cont }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_clock_num.label }}</td>
                            <td>{{ mocaform.mc_clock_num }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_clock_hands.label }}</td>
                            <td>{{ mocaform.mc_clock_hands }}</td>
                        </tr>

                        <tr>
                            <td rowspan="3">Naming</td>
                            <td>{{ mocaform.mc_lion.label }}</td>
                            <td>{{ mocaform.mc_lion }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_bat.label }}</td>
                            <td>{{ mocaform.mc_bat }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_camel.label }}</td>
                            <td>{{ mocaform.mc_camel }}</td>
                        </tr>

                        <tr>
                            <td rowspan="2">Memory: immediate recall</td>
                            <td>{{ mocaform.mc_re_1.label }}</td>
                            <td>{{ mocaform.mc_re_1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_re_2.label }}</td>
                            <td>{{ mocaform.mc_re_2 }}</td>
                        </tr>

                        <tr>
                            <td rowspan="4">Attention</td>
                            <td>{{ mocaform.mc_forward.label }}</td>
                            <td>{{ mocaform.mc_forward }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_backward.label }}</td>
                            <td>{{ mocaform.mc_backward }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_vigilance.label }}</td>
                            <td>{{ mocaform.mc_vigilance }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_serial_7s.label }}</td>
                            <td>{{ mocaform.mc_serial_7s }}</td>
                        </tr>

                        <tr>
                            <td rowspan="3">Language</td>
                            <td>{{ mocaform.mc_sentence_1.label }}</td>
                            <td>{{ mocaform.mc_sentence_1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_sentence_2.label }}</td>
                            <td>{{ mocaform.mc_sentence_2 }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_fluency.label }}</td>
                            <td>{{ mocaform.mc_fluency }}</td>
                        </tr>
                        
                        <tr>
                            <td rowspan="2">Abstraction</td>
                            <td>{{ mocaform.mc_abstraction_1.label }}</td>
                            <td>{{ mocaform.mc_abstraction_1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_abstraction_2.label }}</td>
                            <td>{{ mocaform.mc_abstraction_2 }}</td>
                        </tr>

                        <tr>
                            <td rowspan="7">Memory: Delayed recall</td>
                            <td>{{ mocaform.mc_face.label }}</td>
                            <td>{{ mocaform.mc_face }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_silks.label }}</td>
                            <td>{{ mocaform.mc_silks }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_school.label }}</td>
                            <td>{{ mocaform.mc_school }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_pipe.label }}</td>
                            <td>{{ mocaform.mc_pipe }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_yellow.label }}</td>
                            <td>{{ mocaform.mc_yellow }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_de_1.label }}</td>
                            <td>{{ mocaform.mc_de_1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_de_2.label }}</td>
                            <td>{{ mocaform.mc_de_2 }}</td>
                        </tr>                                                

                        <tr>
                            <td rowspan="6">Orientation</td>
                            <td>{{ mocaform.mc_date.label }}</td>
                            <td>{{ mocaform.mc_date }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_month.label }}</td>
                            <td>{{ mocaform.mc_month }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_year.label }}</td>
                            <td>{{ mocaform.mc_year }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_day.label }}</td>
                            <td>{{ mocaform.mc_day }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_place.label }}</td>
                            <td>{{ mocaform.mc_place }}</td>
                        </tr>
                        <tr>
                            <td>{{ mocaform.mc_city.label }}</td>
                            <td>{{ mocaform.mc_city }}</td>
                        </tr>

                        <tr>
                            <td>Total score of MOCA</td>
                            <td> </td>
                            <td>{{ mocaform.mc_score }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">  
                    <thead>
                        <tr>
                            <th class="area">영역</th>
                            <th class="question">문항</th>
                            <th class="score">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;점수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">K-MMSE</td>
                            <td>{{ mocaform.ms_pentagon.label }}</td>
                            <td>{{ mocaform.ms_pentagon }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
                        
        <div class="button">
            <button type="submit" form="my-form" id="machine" name="machine" class="btn btn-dark rounded-pill">OK</button>
        </div>
        <br>
        <br>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    var error = '{{ error }}';
    var cutoff = '{{ cutoff }}';
    var machine = '{{ machine }}';
</script>
<script src="{% static 'js/info.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/details.js' %}"></script>
{% endblock %}


