{% extends "main/base.html" %}
{% load bootstrap5 %} 
{% load static %}

{% block title %}환자 정보 입력{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div style="text-align: center; width: 90%; margin: 3% auto">
    <h1>환자 정보 입력</h1>
    <form action="" method="POST" id="my-form">
    {% csrf_token %}
        <!-- 필드별 class 지정 -->
        <div class="info-input">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">{{ forms.patient_no.label }}</td>
                        <td class="right">{% bootstrap_field forms.patient_no layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sex.label }}</td>
                        <td class="right">{% bootstrap_field forms.sex form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-5' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.age.label }}</td>
                        <td class="right">{% bootstrap_field forms.age layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.education.label }}</td>
                        <td class="right">{% bootstrap_field forms.education layout='horizontal' form_check_class='form-check form-check-inline' horizontal_field_class='col-md-7' show_label=False %}
                        <div class="col-md-2 blank" id="input-edu_1">
                            {% bootstrap_field forms.edu_input %}
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.handedness.label }}</td>
                        <td class="right">{% bootstrap_field forms.handedness form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.patient_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.patient_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.caregiver_cog_compl.label }}</td>
                        <td class="right">{% bootstrap_field forms.caregiver_cog_compl form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.depression.label }}</td>
                        <td class="right">{% bootstrap_field forms.depression form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_bdi_depression.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_bdi_depression form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.sgds_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.sgds_score layout='horizontal' horizontal_field_class='col-md-4' addon_after='/15' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.neurologic_problems.label }}</td>
                        <td class="right">{% bootstrap_field forms.neurologic_problems form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.parkinson_disease.label }}</td>
                        <td class="right">{% bootstrap_field forms.parkinson_disease form_check_class='form-check form-check-inline' layout='horizontal' horizontal_field_class='col-md-7' show_label=False %}</td>
                    </tr>
                    <tr id="dia_duration_q">
                        <td class="left">{{ forms.diag_duration.label }}</td>
                        <td class="right">{% bootstrap_field forms.diag_duration layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="hy_q">
                        <td class="left">{{ forms.hy_stage.label }}</td>
                        <td class="right">{% bootstrap_field forms.hy_stage layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr id="updrs_q">
                        <td class="left">{{ forms.motor_updrs_score.label }}</td>
                        <td class="right">{% bootstrap_field forms.motor_updrs_score layout='horizontal' horizontal_field_class='col-md-4' show_label=False %}</td>
                    </tr>
                    <tr>
                        <td class="left">{{ forms.kmoca_total.label }}</td>
                        <td class="right">{% bootstrap_field forms.kmoca_total layout='horizontal' horizontal_field_class='col-md-4' addon_after='/30' show_label=False %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                        
        <div class="button">
            <button type="submit" form="my-form" id="cutoff" name="cutoff" class="btn btn-dark rounded-pill">인지장애 판별 (cutoffs)</button>
            <button type="submit" form="my-form" id="machin" name="machin" class="btn btn-dark rounded-pill">인지장애 판별 (기계학습)</button>
        </div>
        <br>
        <br>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    var edu = '{{ edu1 }}';
    var first = '{{ first }}';
    var error = '{{ error }}';

    $("#machin").click(function(e) {
    var allFilled = true;
    // my-form 안의 input들을 모두 체크
    $("#my-form input").each(function() {
        var id = $(this).attr('id');
        if(id === 'id_edu_input' && $('#edu_0').is(':checked') && $(this).val() == "") {
            allFilled = false;
            return false;
        }
        else if(id !== 'id_edu_input' && id !== 'hand_0' && id !== 'hand_1' && id !== 'hand_2' && id !== 'depress_0' && id !== 'depress_1' && id !== 'depress_2' && id !== 'kmoca_total' && id !== 'sgds' && id !== 'neu_prob_0' && id !== 'neu_prob_1' && id !== 'neu_prob_2' && $(this).val() == "") {
            allFilled = false;
            return false;
        }
    });

    if(allFilled) {
        // 모든 항목이 채워져 있으면 form을 제출
        $("#my-form").submit();
    } else {
        // 모든 항목이 채워져 있지 않으면 alert 표시
        alert("모든 항목을 채워주세요!");
        e.preventDefault(); // form 제출 막기
    }
});

    $("#cutoff").click(function(e) {
        var allFilled = true;
        // cutoff 검사에 필요한 input들만 체크
        var fieldsToCheck = ['#patient_num', '#age', '#edu_0', '#id_edu_input', '#kmoca_total'];
        for(var i=0; i<fieldsToCheck.length; i++) {
            var field = $(fieldsToCheck[i]);
            if(fieldsToCheck[i] === '#id_edu_input' && $('#edu_0').is(':checked') && field.val() == "") {
                allFilled = false;
                break;
            }
            else if(fieldsToCheck[i] !== '#id_edu_input' && field.val() == "") {
                allFilled = false;
                break;
            }
        }

        if(allFilled) {
            // 모든 항목이 채워져 있으면 confirm으로 진행 여부 묻기
            var confirmProceed = confirm('cutoff 검사를 진행하시겠습니까?');
            if(!confirmProceed) {
                e.preventDefault();
            }
        } else {
            // 모든 항목이 채워져 있지 않으면 alert 표시
            alert("cutoff 검사를 위한 항목이 비어있습니다.");
            e.preventDefault(); 
        }
    });

</script>
<script src="{% static 'js/info.js' %}"></script>
{% endblock %}


