{% extends "main/base.html" %}
{% load bootstrap5 %} 
{% load static %}

{% block title %} Interpretation of MoCA Test {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/interpretation.css' %}">

{% endblock %}

{% block content %}
{% if request.session.info %}
{% else %}
<script>
    alert('환자 정보를 입력해주세요.'); 
    window.location.replace("/main/");
</script>
{% endif %}
    
<div class="table_div">
    <h5>Interpretation of MoCA Test</h5>
    <br>
    <form action="" method="POST" id="my-form">
        {% csrf_token %}
        <div class="res_tbl_wrap">
            <table class="tb_margin">
                <tr>
                    <td>Age: {{ age }} years old</td>
                    <td>Years in Education: 
                        {% if edu == 0.0 %}
                        Illiteracy
                        {% elif edu == 0.5 %}
                        Out-of-school literacy
                        {% else %}
                        {{ edu }} years
                        {% endif %}

                    </td>
                    <td>MoCA Total: {{ KMoCA }}/30</td>
                    <td>Pentagon: {{ pentagon }}</td>
                </tr>
            </table>
            
            <table class="table table-bordered border-dark">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Cognitive groups</th>
                        <th scope="col">Methods of cognitive assessment</th>
                        <th scope="col">Cutoff</th>
                        <th scope="col">Results: Cognitive diagnosis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if pentagon == 'NA' %}
                        <td rowspan="2" scope="row" class="q"><strong>PD-NC</strong><br> VS. <br>PD-MCI or PDD</td>
                        {% else %}
                        <td rowspan="3" scope="row" class="q"><strong>PD-NC</strong><br> VS. <br>PD-MCI or PDD</td>
                        {% endif %}
                        <td style="text-align: left;"><strong>Cutoff</strong> with<br> age & education adjusted</td>
                        <td>{{ moca_cutoff }}</td>
                        {% if cutoff_result %}
                        <td class="r"><font color="#f89b00">Cognitive impairment</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition</font></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td scope="row" class="q"><strong>Machine learning</strong> with domain scores of MoCA</td>
                        <td>NA</td>
                        {% if machine %}
                        {% if mocab_machin_decision %}
                        <td class="r"><font color="#f89b00">Cognitive impairment<br>인지장애 확률 {{ mocab_machin_result }}%</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition<br>인지장애 확률 {{ mocab_machin_result }}%</font></td>
                        {% endif %}
                        {% else %}
                        <td>NA</td>
                        {% endif %}
                    </tr>
                    {% if pentagon != 'NA' %}
                    <tr>
                        <td scope="row" class="q"><strong>Machine learning</strong> with domain scores of MoCA plus pentagon</td>
                        <td>NA</td>
                        {% if mocab_pentagon_decision %}
                        <td class="r"><font color="#f89b00">Cognitive impairment<br>인지장애 확률 {{ mocab_pentagon_result }}%</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition<br>인지장애 확률 {{ mocab_pentagon_result }}%</font></td>
                        {% endif %}
                    </tr>
                    {% else %}
                    {% endif %}
                    <tr>
                        {% if pentagon == 'NA' %}
                        <td rowspan="2" scope="row" class="q">PD-NC or<br> PD-MCI<br> VS. <br><strong>PDD</strong></td>
                        {% else %}
                        <td rowspan="3" scope="row" class="q">PD-NC or<br> PD-MCI<br> VS. <br><strong>PDD</strong></td>
                        {% endif %}
                        <td style="text-align: left;"><strong>Cutoff</strong> with<br> age & education adjusted</td>
                        <td>{{ moca_cutoff }}</td>
                        {% if cutoff_result %}
                        <td class="r"><font color="#f89b00">Cognitive impairment</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition</font></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td scope="row" class="q"><strong>Machine learning</strong> with domain scores of MoCA</td>
                        <td>NA</td>
                        {% if machine %}
                        {% if mocad_machin_decision %}
                        <td class="r"><font color="red">dementia<br>치매 확률 {{ mocad_machin_result }}%</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition<br>치매 확률 {{ mocad_machin_result }}%</font></td>
                        {% endif %}
                        {% else %}
                        <td>NA</td>
                        {% endif %}
                    </tr>
                    {% if pentagon != 'NA' %}
                    <tr>
                        <td scope="row" class="q"><strong>Machine learning</strong> with domain scores of MoCA plus pentagon</td>
                        <td>NA</td>
                        {% if mocad_pentagon_decision %}
                        <td class="r"><font color="red">dementia<br>치매 확률 {{ mocad_pentagon_result }}%</font></td>
                        {% else %}
                        <td class="r"><font color="#01DF01">normal cognition<br>치매 확률 {{ mocad_pentagon_result }}%</font></td>
                        {% endif %}
                    </tr>
                    {% else %}
                    {% endif %}
                    <tr>
                        <td colspan="4" scope="row" class="q">Abbreviations: PD, Parkinson’s disease; PD-NC, PD with normal cognition; PD-MCI, PD with mild cognitive impairment; PDD, PD with dementia; NA, not applicable; MoCA, Montreal Cognitive Assessment.</td>
                    </tr>
                </tbody>
            </table><br>
        </div>
        <div id="footer">
            <a href="{% url 'myapp:home' %}" class="btn btn-dark rounded-pill md-5">Home</a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'js/confirm.js.' %}"></script> -->
{% endblock %}