.moca h1{
    margin: auto; 
    width: 100%; 
    padding-bottom: 3%; 
    text-align: center;
}
.moca .form-horizontal .control-label{
    text-align: left;
}
.moca li{
    list-style : none;
    display : inline;

}
.moca input[type="radio"]{
    margin: 0 0 3px 10px;
  }

.moca .area{
    width: 30%;
}  
.moca .question{
    width: 40%;
}
.moca .score{
    width: 30%;
}
.moca td, th {
    text-align : center;
    vertical-align : middle;
    margin-left: auto;
    margin-right: auto;
}

.moca .KMoCA{
    text-align: center;
    vertical-align: middle;
}

.moca div{
    width:100%;
}

.moca div.left{
    width:60%;
    box-sizing:border-box;
    margin:0 auto;
}

.moca table{
    border: 3px solid #000;
}

.moca .hide{
    display: none;
}
.moca input[type=number]{
    width: 60%;
}    
.moca input[type=text]{
    width: 60%;
}   
.moca .table {
    border-collapse: collapse;  /* 테두리를 하나로 합칩니다. */
}

.moca .table th, .moca .table td {
    border: 1px solid black;  /* 각 셀에 테두리를 추가합니다. */
}
.MC_Score{
    text-align: center;
}
.KMMSE{
    vertical-align: middle;
}
.moca ul{
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 1000px) {
    .moca div.left{
        width:100%;
        box-sizing:border-box;
    }
    .moca .table{
        font-size: 0.7rem;
    }
    .moca .hide{
        display: inline;
    }
}