html,body{
    height: 100%;
}
.info-input .blank {
	margin: -10px 0 0 40%;
}
.info-input .button{
    text-align: center; 
}
.info-input #cutoff{
    margin-right: 3%;
    display: inline-block;
}
.info-input table, tr, td{
    border: none;
}
.info-input .left{
    text-align: right;
    width: 45%;
}
.info-input .right{
    text-align: left;
    width: 50%;
}
.info-input input[type=number]{
    margin-left: 5%;
}
.info-input .input-group{
    width: 105%;
}
.info-input select{
    margin-left: 5%;
}
.info-input .table>:not(caption)>*>* {
    vertical-align: baseline
};

@media screen and (max-width: 1650px){
    .info-input .blank{
        margin: -10px 0 0 1%;
    }
    .info-input input[type=number]{
        margin-left: 10%;
    }
    .info-input select{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1296px){
    .info-input .blank{
        margin: -10px 0 0 40%;
    }
    .info-input input[type=number]{
        margin-left: 5%;
    }
    .info-input select{
        margin-left: 5%;
    }
}
@media screen and (max-width:1216px){ 
    .info-input .blank{
        margin: -10px 0 0 3%;
    }
}
@media screen and (max-width: 1000px){
    .info-input .blank{
        margin: -10px 0 0 3%;
    }
    .info-input input[type=number]{
        margin-left: 5%;
    }
}

@media screen and (max-width: 767px){
    .info-input .blank{
        margin: -20px 0 0 0;
    }
    .info-input label{
        text-align: center;
        padding-bottom: 5px;
    }
    .info-input #edu{
        text-align: center;
    }
    .info-input .button{
        margin: 0 auto;
        text-align: center;
    }
    .info-input .info-input{
        margin: 0 auto;
        text-align: center;
    }
    .info-input input[type=number]{
        width: 70%;
        text-align: center;
    }
    .info-input .input-group{
        width: 70%;
        text-align: center;
    }
    .info-input select{
        width: 70%;
        text-align: center;
    }
}   
@media screen and (max-width: 439px) {
    .info-input .blank{
        margin: -20px 0 0 5%;
    }
    .info-input label{
        text-align: center;
        padding-bottom: 5px;
    }
    .info-input #edu{
        text-align: center;
    }
    .info-input .button{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        justify-content : center;
    }
    .info-input #cutoff{
        margin-right: 0;
        margin-bottom: 5%;
        text-align: center;
    }
    .info-input .info-input{
        margin: auto;
        text-align: center;
    }
    .info-input input[type=number]{
        width: 70%;
        text-align: center;
        margin:0 auto;
    }
    .info-input .input-group{
        width: 70%;
        text-align: center;
        margin:0 auto;
    }
}
